<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo List</title>
</head>
<body>
<h1>Todo List</h1>
<form th:action="@{/add}" th:object="${todoItem}" method="post">
    <input type="text" th:field="*{title}" placeholder="Add new task" required>
    <select th:field="*{priority}">
        <option value="1">Low</option>
        <option value="2">Medium</option>
        <option value="3">High</option>
    </select>
    <button type="submit">Add</button>
</form>
<ul>
    <li th:each="todo : ${todos}">
        <span th:text="${todo.title}">Sample Task</span>
        <form th:action="@{/delete/{id}(id=${todo.id})}" method="post">
            <input type="hidden" name="id" th:value="${todo.id}"/>
            <button type="submit">Delete</button>
        </form>
        <button type="button" th:onclick="|location.href='@{/edit/{id}(id=${todo.id})}'|">edit</button>
    </li>
</ul>
</body>
</html>